# COGS 108 - Final Project

## Permissions
Place an X in the appropriate bracket below to specify if you would like your group's project to be made available to the public. 

(Note that PIDs will be scraped from the public submission, but student names will be included.)

[ ] YES - make available

[ ] NO - keep private

# Overview
Fill in your overview here

# Names
 - Neghena Faizyar
 - Jie Wang
 - Richard To
 - Brianna Catalan
 - Nicholas Weaver

# Group Members IDs
 - A15029829
 - A14481331
 - A15555602
 - A13892424
 - A15517060

# Research Question
Fill in your research question here

# Background and Prior Work

 ## WE HAVE TO. ADD MORE HERE AND FIX THIS STUFF :) 
Often times, we see that alcohol consumption is stereotyped as being related to criminality. The Alcohol Rehab Guide claims, "alcohol plays a large role in criminal activities and violence." This is similar to views among many. 
However, we wanted to see if there was actually truth to this stereotype. We want to know if there truly is a positive correlation between alcohol consumption and crime rates. We wanted to possibly test for causation in this and effectively see if areas which don't sell alcohol have lower crime rates in general. 

References (include links):
 - 1) https://www.alcoholrehabguide.org/alcohol/crimes/ 
 - 2)

# Hypothesis
Our hypothesis is that there is a positive correlation between areas that sell alcohol and crime rates. Meaning, the more alcohol is sold in an area, the higher the crime rate.

# Dataset(s)
Fill in your dataset information here
(Copy this information for each dataset)
 - Dataset Name: Licencing Reports 
 - Link to the dataset: https://www.abc.ca.gov/licensing/licensing-reports/
Number of observations:
1-2 sentences describing each dataset.
If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [59]:
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual

### Import Crime Data

In [60]:
df = pd.read_csv('https://raw.githubusercontent.com/COGS108/group025_wi20/master/ARJISPublicCrime030420.txt?token=AL64AM4MQ7YB6WDYZ46DTQC6N7XEY'
                     ,names=['Crime', 'agency', 'Description', 'activityDate', 'BLOCK_ADDRESS', 'ZipCode', 'community'])
df.head()

,Crime,agency,Description,activityDate,BLOCK_ADDRESS,ZipCode,community
0,CM_LEGEND,agency,Charge_Description_Orig,activityDate,BLOCK_ADDRESS,ZipCode,community
1,THEFT/LARCENY,OCEANSIDE,PETTY THEFT(All Other Larceny) (M),12/29/2019 18:11:00,1800 BLOCK COLLEGE BOULEVARD,92056,OCEANSIDE
2,THEFT/LARCENY,CHULA VISTA,PETTY THEFT(Shoplift) (M),1/2/2020 20:15:00,600 BLOCK PALOMAR STREET,91911,CHULA VISTA
3,DUI,SAN DIEGO,DUI ALC/0.08 PERCENT (M),1/1/2020 2:36:00,4000 BLOCK RUEDA DRIVE,92124,SAN DIEGO
4,MOTOR VEHICLE THEFT,CHULA VISTA,TAKE VEHICLE W/O OWNER'S CONSENT/VEHICLE THEFT...,1/6/2020 17:00:00,1200 BLOCK ATWATER STREET,91913,CHULA VISTA

In [61]:
#Import Alcohol Licence Data
alc = pd.read_csv("https://raw.githubusercontent.com/COGS108/group025_wi20/master/ABC_WeeklyDataExport.csv?token=ALLX4HIOYLTNH3Q2CLGJOYK6OAF74")
alc.head()

/Users/negs/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,License Type,File Number,Lic or App,Type Status,Type Orig Iss Date,Expir Date,Fee Codes,Dup Counts,Master Ind,Term in # of Months,...,Prem State,Prem Zip,DBA Name,Mail Addr 1,Mail Addr 2,Mail City,Mail State,Mail Zip,Prem County,Prem Census Tract #
0,20,585942,LIC,ACTIVE,29-Mar-18,31-Aug-20,,,Y,12,...,CA,94558-7551,INTERVINE INC,,,,,,NAPA,2010.05
1,21,590293,LIC,ACTIVE,29-Mar-18,29-Feb-20,,,Y,12,...,CA,95112-2414,EL DORADO LIQUOR & MARKET,,,,,,SANTA CLARA,5031.12
2,41,589231,LIC,ACTIVE,29-Mar-18,29-Feb-20,,,Y,12,...,CA,95134,GO FISH POKE BAR,,,,,,SANTA CLARA,5050.06
3,20,584534,LIC,ACTIVE,29-Mar-18,30-Nov-20,,,Y,12,...,CA,95112-3015,EL SOL MARKET,,,,,,SANTA CLARA,5001
4,41,584534,LIC,ACTIVE,29-Mar-18,30-Nov-20,,,Y,12,...,CA,95112-3015,EL SOL MARKET,,,,,,SANTA CLARA,5001

### Import Legend for Alcohol Licences

In [62]:
legend = pd.read_csv('https://raw.githubusercontent.com/COGS108/group025_wi20/master/License%20Types.csv?token=ALLX4HMQ2PNLGF5A2AHYACS6OAF4Q')
legend = legend[['License Number', 'License Type']]
leg_dict = dict(zip(legend['License Number'], legend['License Type']))
legend.head()

   License Number                            License Type
0               1                       Beer Manufacturer
1               2                              Winegrower
2               3                     Brandy Manufacturer
3               4         Distilled Spirits Manufacturer
4               5  Distilled Spirits Manufacturer’s Agent

# Data Cleaning
Describe your data cleaning steps here.

In [63]:
# your data cleaning code here

### Clean Up Crime Data

In [64]:
def find_alc_crime(description):
    description = description.lower()
    
    if 'theft' in description:
        description = True
    elif 'assault' in description:
          description = True
    elif 'disturbing' in description:
          description = True
    elif 'dui' in description:
          description = True
    elif 'vandalism' in description:
          description = True
    elif 'vehicle break-in' in description:
          description = True
    else:
        description = False

    return description

def shortenzip(zip):
    userzip = str(zip)
    userzip = userzip[:3]
    return userzip

In [65]:
# Save the zip codes to use during cleaning of the alcohol df
zip_codes = df['ZipCode'].dropna().unique()

In [66]:
df['ALC_related'] = df['Crime'].apply(find_alc_crime)
df = df.dropna(subset=['ZipCode'])
df['shortZip'] = df['ZipCode'].apply(shortenzip)
drop_indices = df.index[df['ALC_related'] == False].tolist()
df_ALC = df.drop(drop_indices, axis=0)
df_ALC = df_ALC.drop(columns=['activityDate', 'BLOCK_ADDRESS', 'community', 'agency'])
df_ALC.head()

,Crime,Description,ZipCode,ALC_related,shortZip
1,THEFT/LARCENY,PETTY THEFT(All Other Larceny) (M),92056,True,920
2,THEFT/LARCENY,PETTY THEFT(Shoplift) (M),91911,True,919
3,DUI,DUI ALC/0.08 PERCENT (M),92124,True,921
4,MOTOR VEHICLE THEFT,TAKE VEHICLE W/O OWNER'S CONSENT/VEHICLE THEFT...,91913,True,919
7,DUI,DUI ALCOHOL (M),92027,True,920

### Clean Up Alcohol License Data

In [67]:
alc = alc.loc[alc['Type Status'] == 'ACTIVE']
alc = alc.loc[alc['Lic or App'] == 'LIC']
alc = alc[['License Type', 'Geo Code', 'Prem Zip']]
alc.head()

   License Type Geo Code    Prem Zip
0            20     2802  94558-7551
1            21     4313  95112-2414
2            41     4313       95134
3            20     4313  95112-3015
4            41     4313  95112-3015

In [68]:
# Safe Harbor Method 
def filter_zip(x):
    """An apply function to only take the first 5 digits of the zip code"""
    return x[:3]

def filter_zips(x):
    """A function to convert our integer zip code list into a string"""
    return str(x)[:3]

#Apply these to the correct columns 
alc['Prem Zip'] = alc['Prem Zip'].apply(filter_zip)
zips = list(map(filter_zips,zip_codes[1:]))

In [70]:
def sd_zips(x):
    """An apply function to check our df for San Diego zip codes"""
    if x in zips:
        return True
    else:
        return False

#A new DataFrame with only San Diego zip codes 
SD_alc = alc.loc[alc['Prem Zip'].apply(sd_zips)]
SD_alc.head()

    License Type Geo Code Prem Zip
5             20     1600      932
8             21     5406      932
17            47     3013      926
19            42     3710      921
20            47     3800      941

# Data Analysis & Results
Include cells that describe the steps in your data analysis.

In [ ]:
# DATA ANALYSIS CODE HERE

# Ethics & Privacy
Fill in your ethics & privacy discussion here

# Conclusion & Discussion
Fill in your discussion information here

# Team Contributions
 - Alcohol License Cleaning -- Neghena, Richard, and Jie
 - Crime Data Cleaning -- Nicholas and Brianna